.quarto-title-block .quarto-title-banner {
  background-image: url(img/Better_ct_logo.png);
  background-size: 170px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 0px;
  background-origin: content-box;
}